{% extends 'student_template/base_template.html' %}

{% block page_title %}
   Course Registration 
{% endblock page_title %}

{% block main_content %}

{% load static %}
{% if aa %}
{% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
<form action="{% url 'crssavwe' %}" method="post">
   
 
<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Course Registration </h3>
                        </div>
                        <!-- /.card-header -->
                        {% csrf_token %}
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>                               
                                    <th>Staff</th>
                                    <th>Course</th>
                                    <th>Time</th>
                                    
                                  
                                 
                                </tr>
                                </thead>
                            
                                <tbody>
                                <tr>
                                    <td>{{ bb.stafflist }}</td>
                                    <td>{{ bb.corselist }}</td>
                                    <td>{{ bb.timess }}</td>                                   
                                </tr>
                                </tbody>

                                
                           </table>
                           
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                    <!-- /.card -->

                </div>
                
            </div>

        </div><!-- /.container-fluid -->
        
      </section>
      
    </form>

    
    {% endif %}
    <a  href="{% url 'dowload_course_doc' %}" class="btn btn-warning">Downlaod</a>
  {% endblock main_content %}

  {% comment %} Custom JS to Identify the Reply and Post Reply {% endcomment %}

  {% block custom_js %}

  {% endblock custom_js %}